# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Visual Studio folder
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration files
appsettings*.json

# Logs
*.log

# Publish output
publish/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Others
*.db
*.sqlite
*.pdb
